img {
    
    padding-left: 250px;
   padding-top: 259px;
   padding-bottom: 0;
    width: 400px;
    height: 100px;
    
    
}
.fit-picture{
    margin: 0;
    width: 500px;
}
h2{ 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: 450px;
    padding-left: 335px;
    padding-top: -10px;
    position: static;
    
}

.user-data{
  
    right: 600px;
    top: 280px;
    font-family: inherit;
    display: inline-block;
    position: absolute;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%) ;
    border: none;
    border-radius: 8px;
   text-align: center;
   width: 396px;
   height: 296px;
  
    
}
button{
  font-weight: bold;
  text-align: center;
  box-sizing: content-box;  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1877f2;
  border-radius: 6px;
  font-size: 20px;
  width: 332px;
  border: none;
  padding: 16px 16px;
  margin-top: 5px;
  color: #fff;
}
.create-new-log{font-weight: bold;
    text-align: center;
    box-sizing: content-box;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42b72a;
    border-radius: 6px;
    font-size: 20px;
    width: 332px;
    border: none;
    padding: 16px 16px;
    margin-top: 5px;
    color: #fff

}
.input-email, .input-pass{
    border-radius: 6px;
    font-size: 17px;
    width: 284px;
    height: 35px;
    background-color: #FFFFFF;
    border: 1px solid #dddfe2;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle
    ;

}
.input-pass{
    margin-top: 16px;
}
.loss-pass{
    color: #1877f2;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
}
.loss-pass1{
    margin-top: 15px;
}

.email{
    height: 26px;
}

footer{
    color: rgb(158, 154, 154);
    text-align: left;
    margin-top: 300px;
    padding-left: 320px;
    font-family: inherit;
    
}

.createnewpag{
    color: black;
    font: 400;
}    


